<p>
  Namn
  <br />
  <%= inputs.text_field :name %>
</p>
<p>
  Efternamn
  <br />
  <%= inputs.text_field :surname %>
</p>
<p>
  Eventor id:  <%= resource.person_id %>
</p>
<p>
  Fodd
  <br />
  <%= inputs.text_field :birthdate, :class => 'date' %>
</p>
