<p>
  Namn
  <br />
  <%= inputs.text_field :name %>
</p>
<p>
  Eventor id:  <%= resource.competition_id %>
</p>
<p>
  Datum
  <br />
  <%= inputs.text_field :date, :class => 'date' %>
</p>
<p>
  Klubbens länk till tävlingen
  <br /> 
  <%= inputs.text_field :url %>
</p>