<td>
  <%= link_to raw('<span class="ui-icon ui-icon-wrench"></span>'), edit_polymorphic_path(table_row_links), :class => :link %>
</td>
<td>
  <%= link_to raw('<span class="ui-icon ui-icon-trash"></span>'), table_row_links,:class => :link, :confirm => 'Är du säker?', :method => :delete %>
</td>