<div title="Show">
  <table>
    <% resource.attributes.sort_by do |a,b| resource.class.human_attribute_name a end.each do |a,b| %>
      <tr>
        <th><%= resource.class.human_attribute_name a %></th>
        <td><%= b %></td>
      </tr>
    <% end %>
  </table>
</div>