<script type="text/javascript">
   var data = <%= raw @report.to_json %>;
</script>
<%= javascript_include_tag 'report'  %>
<div>
  Från:<%= text_field_tag :start_date, @start_date %> Till: <%= text_field_tag :end_date,  @end_date %>
  <div id="result"></div>
</div>
